APP_NAME=Mailer
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8081

LOG_CHANNEL=stack
LOG_LEVEL=debug

MAIL_MAILER=smtp
MAIL_HOST=live.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=api
MAIL_PASSWORD=23e039d0e4b8886629c865a0d9821cbb
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@rentalplatform.com
MAIL_FROM_NAME="RentalPlatform"
