APP_NAME=Mailer
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8081

LOG_CHANNEL=stack
LOG_LEVEL=debug

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=b0aa5b818f6eb0
MAIL_PASSWORD=788d44376623cc
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@rentalplatform.com
MAIL_FROM_NAME="RentalPlatform"
